doctype html(lang='en')

head
  title Northwestern Undergraduate Research Journal
  link(rel="stylesheet", href="/stylesheets/layouts/landing.css")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  // Required for Previews and Experiments
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")
  script(src="/javascript/vendors/highlight.min.js")

block body
  include ../components/header.pug
  section.container
    div.splash.js-invertHeaderColor
      div.features
        each feature in features
          a(href=ctx.linkResolver(feature) class="feature-department")
            != feature.getText("thesis.department")
        a(href="/" class="splash-link") SEE ALL THESES
          svg(class="splash-arrow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 93" style="enable-background:new 0 0 51 93;" xml:space="preserve")
            polygon(points="37.6,20.4 26,8.9 14.4,20.4 15.8,21.8 25,12.7 25,82 27,82 27,12.7 36.2,21.8 ")

  section.container
    div.feed
      -
        var i = 1
      each post in posts
        if post.type == "thesis"
          -
            var size
            
            if ((i % 3 == 0) && post.getGroup("thesis.hero-image")) {
              size = "post-lg"
            } else if (i % 2 == 0) {
              size = "post-md"
            } else {
              size = "post-sm"
            }
            
            var modifier = i % 6 == 0 ? 'post-reversed' : ''
            i += 1

          div(class="post " + size + " " + modifier)
            a.post-department
              != post.getText("thesis.department")
            if post.getGroup("thesis.hero-image")
              each hero in post.getGroup('thesis.hero-image').toArray()
                a(href=ctx.linkResolver(post) class="post-heroLink")
                  img(src=hero.getImage('image').url class="post-hero")
            div.post-info
              h2.post-title
                a(href=ctx.linkResolver(post))
                  != post.getText("thesis.title")
              h3.post-subtitle
                != post.getText("thesis.subtitle")
              p.post-meta
                span
                  each item in post.getGroup("thesis.byline").toArray()
                    != item.getText("author") + " | "
                span
                  != post.getDate('thesis.publish-date').toLocaleDateString('en', {month: 'long', year: 'numeric'})
        if post.type == "feature"
          div(class="post post-sm")
            a.post-department Feature
            div.post-info
              h2.post-title
                a(href=ctx.linkResolver(post))
                  != post.getText("feature.title")
              h3.post-subtitle
                != post.getText("feature.subtitle")
              p.post-meta
                span
                  != post.getText("feature.author") + " | "
                span
                  != post.getDate('feature.publish-date').toLocaleDateString('en', {month: 'long', year: 'numeric'})
  include ../components/footer.pug
script(src="/javascript/landing.js")
