//- https://xd.adobe.com/view/88eab670-5b2f-4641-923d-23f14bba8c9a/screen/ec5fef01-2823-4be6-9b74-3e2d5a2bdb77/Web-1280-1/
doctype html (lang='en')

head
    title
      !=pageContent.getText('thesis.title')
    link(rel="stylesheet", href="/stylesheets/thesis.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Required for Previews and Experiments
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
    script
      = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
    script(src="//static.cdn.prismic.io/prismic.min.js")
    script(src="/javascript/vendors/highlight.min.js")

include ../partials/header.pug

block body
  section.container
    article.thesis.content
      div.department
        !=pageContent.getText('thesis.department')
      each item in pageContent.getGroup('thesis.byline').toArray()
        div.author
          !=item.getText('author')
      div.title
        !=pageContent.getText('thesis.title')
      div.body
        div.meta-container
          ul.advisors-container
            each item in pageContent.getGroup('thesis.advisors').toArray()
              li.advisor
                p Faculty Advisor
                p
                  != item.getText('faculty-advisor')
          div.publish-date
            != pageContent.getDate('thesis.publish-date').toLocaleDateString('en', {month: 'long', year: 'numeric'})
        for slice in pageContent.getSliceZone('thesis.body').slices
          case slice.sliceType
            when 'subhead'
              span.subhead !{slice.value.asHtml()}
            when 'copy'
              div.thesis-copy !{slice.value.asHtml()}
            when 'pullquote'
              blockquote.pullquote !{slice.value.asText()}
            when 'image-with-caption'
              figure.figure-item
                each imageWithCaption in slice.value.toArray()
                  img(src=imageWithCaption.getImage('figure').url)
                  if imageWithCaption.get('attribution')
                    cite.image-attribution !{imageWithCaption.get('attribution').asText()}
                  if imageWithCaption.get('caption')
                    figcaption.image-caption !{imageWithCaption.get('caption').asText()}
      each item in pageContent.getGroup('thesis.byline').toArray()
        div.bio-container
          div.author-headshot
            img(src=item.getImage('headshot').url)
          div.author-bio
            !=item.getText('bio')



include ../partials/footer.pug
